.cards{
    height: 90vh;
    max-width: 1280px;
    width: 100%;
    background-color: var(--fundo-card);
    border-radius:5px 5px 0px 0px;
    overflow: hidden;
    position:relative;
}
.home{
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn_new_data{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 55px;
    width: 217px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 20px;
    background-color: var(--fundo-pagina);
    padding: 12px;
    border-radius: 12px 0px 0px 0px;
}
.btn_new_data::before{
  content: '+';
  font-size: 36px;
  padding-bottom: 5px;
}
.btn_new_data:hover{
    background-color: var(--fundo-card);
    cursor: pointer;
}
.dropdown{
    background-color: var(--fundo2);
    margin-left: 5vh;
    border: 1px solid var(--border-dropdown);
    border-radius: 0.5vh;
}

.dropdown-menu a{
  border: 1px solid var(--border-dropdown);
}
.dropdown:hover .dropdown-menu {
  display: block;
  border: 1px solid var(--border-dropdown);
}
